:root {
    --primary-text-clr: #0C5959;
    --secondary-text-clr: #2C6363;
    --dark-grey-text-clr: #222222;
    --light-grey-text-clr: #404040;
    --red-text-clr: #8b0000;

    --tr-dark-shade-clr: #DCDCDC;
    --tr-light-shade-clr: #F8F8F8;

    --main-font-family: "Century Schoolbook", Verdana, Arial, sans-serif;
    --monospace-font-family: monospace, "Courier New";
    --quote-font-family: Garamond, serif;
}

/* helper classes */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: var(--light-grey-text-clr);
    font-family: --main-font-family;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;

    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

/* colors */
h1 {
    color: var(--primary-text-clr);
}

a {
    text-decoration: none;
    color: var(--secondary-text-clr);
}

code {
    font-family: var(--monospace-font-family);
}

img {
    width: 1.3em;
    height: 1.3em;
}

.hidden {
    display: none;
}

.controls {
    margin: 3em auto;
}

#index-path .path-delimiter {
    font-weight: bold;
    color: var(--red-text-clr);
    margin: 0 0.1em;
}

#search-box {
    font-family: var(--monospace-font-family);
    display: inline-flex;
    align-items: center;

    padding: 0.2em;
    text-align: center;
    background-color: var(--tr-dark-shade-clr);
    color: var(--dark-grey-text-clr);
    border-radius: 0.2em;
}

#search-keywords {
    /* reset default */
    outline: none;
    box-shadow: none;
    border: none;
    background-color: inherit;

    width: 6ch;

    transition: width 0.5s;
}

#search-keywords:focus {
    width: 20ch;
}

/* table */
#indexlist {
    width: 100%;
    color: var(--dark-grey-text-clr);
    margin: 3em auto !important;
    border-collapse: collapse;
    text-align: left;
}

#indexlist th {
    color: var(--secondary-text-clr);
}

#indexlist td {
    padding: 0.22em;
}

.indexcolname {
    width: 68%;
}

.indexcolname a {
    color: var(--primary-text-clr);
}

.indexcolname img {
    /* for alt text */
    color: var(--light-grey-text-clr);

    position: relative;
    top: 0.29em;
}

/* dynamically added class to icons with js */
td.indexcolname:hover {
    opacity: 0.6;
}

/* create space between icon and filename */
.indexcolname img {
    margin-right: 0.2em;
}

.indexcolsize {
    text-align: center;
}

.even {
    background-color: var(--tr-light-shade-clr);
}

/* .odd {
    background-color: white;
} */

#server-info {
    text-align: left;
}

#open-explorer {
    text-align: right;
}

.svg {
    max-width: 1.4em;
    max-height: 1.4em;

    position: relative;
    top: 0.32em;
}

tfoot {
    font-size: 0.8em;   
}

#open-explorer svg {
    max-width: 1.4em;
    max-height: 1.4em;
}

blockquote {
    margin: 3em auto;
    font-family: --quote-font-family;
    display: table;
}

#quote::before, #quote::after {
    content: '"';
}

#author::before {
    content: '― ';
}

.author-p {
    text-align: right;
}
